APP_ENV=local
GRAPHIQL_ENABLED=true

DB_URL=jdbc:postgresql://localhost:5432/streaming
DB_USERNAME=postgres
DB_PASSWORD=postgres

JWT_ISSUER=ott-streaming
JWT_SECRET=change-me-before-auth
JWT_ACCESS_TOKEN_EXPIRATION=PT1H

